
<div>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</div>

<div>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</div>

<div>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</div>

</div>
  <strong>Reviews</strong>
  <div>
    <ul>
      <li>Rating: </li>
      <li>Review: </li>
    </ul>
  </div>
</div>

<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %>
